@import 'src/_vars';

.nav {
    border-bottom: 2px solid darken($bg-light, 20%);
    display: flex;
    background-color: lighten($bg-light, 4%);
    margin-bottom: 20px;
    padding: 50px 20px 0;

    &-item {
        color: #430415;
        font-size: 120%;
        font-weight: bold;
        padding: 20px;
        text-decoration: none;
        border-radius: 8px 8px 0 0;

        &:hover {
            color: black;
            background-color: $bg-light;
        }

        &-selected {
            background-color: $bg-light;
            border-top: 2px solid darken($bg-light, 20%);
            border-right: 2px solid darken($bg-light, 20%);
            border-left: 2px solid darken($bg-light, 20%);
            border-bottom: none;
            margin-bottom: -2px;
            box-shadow: 5px -5px 7px -8px rgba(66, 68, 90, 1);
        }
    }
}