@import "../vars";

.container {
    box-shadow: 6px 6px 20px 0px rgba(66, 68, 90, 1);
    width: 1400px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 48px;
}

