/* You can add global styles to this file, and also import other style files */

@import '_vars';

body {
  background-color: $bg-light;
  font-family: sans-serif;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.hover {
  cursor: pointer;
  display: table-cell;
}